header {
    background-color: #222;
}

a {
    text-decoration: none;
    font-size: 1.8em;
    margin: 0 5px; 
    border-radius: 3px;
    transition: all 0.3s ease-out;
}

a:link, a:visited {
    background-color: #8a66ff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(85, 47, 90);
  }

ul{
    display: flex;
    flex-direction: row;
}