* {
  overflow-y: auto;
  overflow-x: hidden;
}

div.panel {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;

  width: 400px;
  height: 300px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.texto {
  padding: 0 350px;
}